/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.home-container, .menu-container, .student-login-container, .guard-login-container, .warden-login-container, .warden-menu-container, .student-menu-container{

    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.home-bottom-container, .menu-button-container, .student-login-container, .guard-login-container, .warden-login-container, .warden-menu-container, .student-menu-container,.check-request-warden-container{

  text-align: center;
  
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
