<div class="send-request-container">
  <form #requestForm="ngForm" (ngSubmit)="sendRequest()" autocomplete="off">
    <h2 class="form-title">Send Request</h2>
    
    <div class="form-group">
     <label for="id"> <strong> Id </strong></label> 
      <input type="text" class="form-control" id="id" name="id" [(ngModel)]="model.id" placeholder="Enter Id" required>
    </div>
    
    <div class="form-group">
    <label for="name"> <strong> Name </strong></label>  
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" placeholder="Enter Name" required>
    </div>
    
    <div class="form-group">
      <label for="day"> <strong> Day </strong> </label>
      <input type="text" class="form-control" id="day" name="day" [(ngModel)]="model.day" placeholder="Enter Day">
    </div>
    
    <div class="form-group">
      <label for="date"> <strong> Date </strong></label>
      <input type="date" class="form-control" id="date" name="date" [(ngModel)]="model.date">
    </div>
    
    <div class="form-group">
      <label for="destination"> <strong> Destination </strong></label>
      <input type="text" class="form-control" id="destination" name="destination" [(ngModel)]="model.destination" placeholder="Enter Destination">
    </div>
    
    <div class="form-group">
      <label for="outTime"><strong> Out-Time </strong></label>
      <input type="time" class="form-control" id="outTime" name="outTime" [(ngModel)]="model.outTime">
    </div>
    
    <div class="form-group">
      <label for="inTime"> <strong> In-Time </strong></label>
      <input type="time" class="form-control" id="inTime" name="inTime" [(ngModel)]="model.inTime">
    </div>
    
    <div class="form-actions">
      <button class="btn btn-secondary" type="button" (click)="goback()">Back</button>
      <button class="btn btn-primary" type="submit" routerLink="/check-request-student">Submit</button>
    </div>
  </form>
</div>