<div class="warden-login-container">

  <form #loginForm="ngForm" (ngSubmit)="wardenLogin()" autocomplete="off">
    <h2 class="text-center text-primary">Login </h2>
    <hr />
    <div class="mb-3 form-floating">
      <label for="Warden-Id">Warden ID : </label>
      <input type="text" class="form-control" name="Warden Id" [(ngModel)]="model.id" placeholder="Warden ID" />
    </div>

    <div class="mb-3 form-floating">

      <label for="password">Password : </label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Password" />

    </div>

    <button class="btn btn-success me-2" id="login" type="submit"> Login </button>
    <button class="btn btn-default me-2" id="back" (click)="goback()"> Back </button>

  </form>

</div>


