<div class="home-container">

    <h2 class="title">Welcome to the Hostel Outing Application</h2>
    <p class="description">This application is designed to provide outings to the students.</p>
    
    <div class="button-container">
        <button class="login-button" routerLink="/wardenLogin">Login as Warden</button>
        <button class="login-button" routerLink="/studentLogin">Login as Student</button>
        <button class="login-button" routerLink="/guardLogin">Login as Guard</button>
    </div>

</div>
