<div class="check-request-student-container">
  <h2> CHECK PERMISSION </h2>
  <table mat-table [dataSource]="Requests" class="mat-elevation-z8">
   
    <ng-container matColumnDef="Student-ID">
      <th mat-header-cell *matHeaderCellDef> <strong> Student Id</strong>  </th>
      <td mat-cell *matCellDef="let request"> {{request.studentId}} </td>
    </ng-container>

    <ng-container matColumnDef="Day">
      <th mat-header-cell *matHeaderCellDef> <strong> Day </strong>  </th>
      <td mat-cell *matCellDef="let request"> {{request.day}} </td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> <strong> Date </strong>  </th>
      <td mat-cell *matCellDef="let request"> {{request.date}} </td>
    </ng-container>

    <ng-container matColumnDef="Destination">
      <th mat-header-cell *matHeaderCellDef> <strong> Destination </strong>  </th>
      <td mat-cell *matCellDef="let request"> {{request.destination }} </td>
    </ng-container>

    <ng-container matColumnDef="Out-time">
      <th mat-header-cell *matHeaderCellDef> <strong> Out-time </strong>  </th>
      <td mat-cell *matCellDef="let request"> {{request.outTime}} </td>
    </ng-container>

    <ng-container matColumnDef="In-time">
      <th mat-header-cell *matHeaderCellDef> <strong> In-Time </strong>  </th>
      <td mat-cell *matCellDef="let request"> {{request.inTime}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <button (click)="goback()"> BACK </button>

</div>

