<div class="student-login-container">
  <form #loginForm="ngForm" (ngSubmit)="studentLogin()" autocomplete="off">
    <h2 class="text-center text-primary">Login</h2>
    <hr />
    <div class="mb-3 form-floating">
      <label for="Student-Id">Student ID : </label>
      <input
        type="text"
        class="form-control"
        name="Student Id"
        [(ngModel)]="model.id"
        placeholder="Student ID"
      />
      
    </div>
  
    <div class="mb-3 form-floating">
      <label for="password">Password : </label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password"
      />
      
    </div>
  
    <div class="form-group text-center">
      <button class="btn btn-success me-2" id="login" type="submit"> Login </button>
      <button class="btn btn-success me-2" id="back" (click)="goback()"> Back </button>
    </div>
  </form>
  
</div>

